.About__avatar {
  width: 32vw;
  height: 32vw;
  border-radius: 1000px;
  object-fit: cover;

  margin-left: 104px;
  margin-top: 80px;
}

@media screen and (max-width: 500px) {
  .About__avatar {
    margin: 32px auto 0;
  }
}