.PopupWithForm__background {
  width: 100vw;
  height: 100vh;
  display: none;

  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.PopupWithForm__background_open {
  display: block;
}