.SavedNewsHeader__keyword {
  margin-top: 30px;
  margin-bottom: 56px;

  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */


  color: #1A1B22;
}