.SavedNewsHeader__newsCount{
  width: 530px;
  margin-top: 28px;
  margin-bottom: 0;

  font-family: Roboto Slab;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  /* or 115% */


  /* main/primary */

  color: #1A1B22;
}