.NewsCardListBody__grid {
  width: 85%;
  max-width: 1200px;
  margin: 62px auto 62px;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: auto;
  grid-gap: 16px;

  padding: 0;
}