.NewsCard__button {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 40px;
  height: 40px;

  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.NewsCard__button_trash {
  background-image: url(../../../images/trash.svg);

}

.NewsCard__button_bookmark {
  background-image: url(../../../images/bookmark.svg);
}
