.NewsCard__time {
  margin: 0;

  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* simulator/gray/text */

  color: #B6BCBF;
}