.NewsCard__description{
  margin-top: 16px;
  margin-bottom: 0;

  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* or 137% */


  /* main/primary */

  color: #1A1B22;

  max-height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}