.Footer__link {
  margin-left: 30px;

  text-decoration: none;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  /* main/primary */

  color: #1A1B22;
}

.Footer__link:nth-child(1) {
  margin-left: 0;
}

@media screen and (max-width: 800px) {
  .Footer__link {
    margin-left: 25px;
  }
}

@media screen and (max-width: 600px) {
  .Footer__link {
      margin-left: 0;
    }

  .Footer__link_main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .Footer__link_praktikum {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .Footer__link_github {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .Footer__link_facebook {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

