.Search__title {
  max-width: 600px;
  margin-top: 160px;
  margin-bottom: 0;

  font-family: Roboto Slab;
  font-weight: normal;

  font-size: 60px;
  line-height: 64px;
  color: white;

  text-align: left;
}

@media screen and (max-width: 800px) {
  .Search__title {
    width: 385px;
    margin-top: 104px;

    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .Search__title {
    margin: 104px auto 0;
    width: 90vw;
  }
}

@media screen and (max-width: 400px) {
  .Search__title {
    margin-top: 86px;
  }
}